{% extends 'all-pages/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}

{% block styles%}
{% bootstrap_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/index.css' %}">
{%endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron" style="background-color: lightblue">
    <div class="well" style="background-color:bisque"> 
      <h1 style="color:rgb(65, 112, 65) ; font-family:monospace; text-align:center">Awwards</h1>
    </div>
  
  {% for landing_page in image_posts%}
   <!-- <div class="container">
     <div class="row">
       <div> -->
  
  
  <h2><!-- {{image.user}} --></h2>
  
  <!-- <img src="{{landing_page.landing_page.url}}" class="master-card" style="width:100px;height:100px;border-radius:50%;padding:15px; margin-top: -60px"><strong style="margin-top: 60px"><a style="color: black" href="{% url 'profile' %}">{{image.profile.username}}</a></strong> -->
  
  <!-- <div class="jumbotron" class="text-center" style="background-color:bisque ; margin-left: 45em; margin-top: 80px"> -->
    
    <p style="text-align:left;font-size:40px;font-family: monospace;color: rgb(65, 112, 65) ">{{landing_page.title| safe}}</p>
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{{landing_page.landing_page.url}}" alt="image" style="width:514px;">
          </div>
          <div class="col-md-6" style="padding-left:60px">
            <br>
            {% autoescape on %}
            <p>Description:{{landing_page.description| safe}}</p>
            <p>link :<a href="{{landing_page.link| safe}}">{{landing_page.link| safe}}</a ></p>
                
            {% endautoescape %}
          </div>
        </div>
    </div>
          
  {% endfor %}
    <form method="post" action="/rating/{{image.id}}" enctype="multipart/form-data">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            {% csrf_token %}
            {% bootstrap_form form %}
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-primary btn-sm" value="Submit">
      <input type="hidden" name="next" value="{{next}}">
    </form>

  </div>

  {% for rating in landing_page.rating.all %}

  <div class="row">
    <div class="col-md-6">
      <p style=" font-weight: bold; "><a style="color: black" href="/"> {{rating.user}}</p>
    </div>
    <div class="col-md-6" style="margin-left: -25px">
      <p>{{rating.rating}}</p>
    </div>
  </div>
  {% endfor %}
</div>
</div>
  


{% endblock %}


