{% extends "all-pages/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{{ block.super }}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;

}

.container {
    padding: 2px 16px;

}


</style>
</head>
<body>
<div class="jumbotron" style="background-color:bisque">
  <h1 style="color:darkcyan; font-family:monospace; text-align:center">Instagram</h1>
</div>
 {% for image in image_posts%}
 <!-- <div class="container">
   <div class="row">
     <div> -->
<div class="card" class="text-center" style="background-color:bisque ; margin-left: 45em; margin-top: 80px">
  <div class="container" style="text-align:center;border-top: 1px solid #EEEEEE; width: 515px; height: 100px"><br><br>
      <h2><!-- {{image.user}} --></h2>
   
      <img src="{{image.image.url}}" class="master-card" style="width:100px;height:100px;border-radius:50%;padding:15px; margin-top: -60px"><strong style="margin-top: 60px"><a style="color: black" href="{% url 'profile' %}">{{image.profile.username}}</a></strong>
  </div>

  <img src="{{image.image.url}}" alt="image"  style="width:514px;">
  {% autoescape on %}
      {{image.caption| safe}}
  {% endautoescape %}
  <div class="container" style="margin: 50px">
    <br>
    <div class="text-xs px-6 py-4 uppercase text-grey" style=" margin-left: -30px"> {{image.pub_date | timesince}}
    </div>
      <hr style="width: 400px; margin-left: 0px">
      <div class="mt-4 border-t border-grey-light mx-4 py-4">
        
        <form method="post" action="/comment/{{image.id}}" enctype="multipart/form-data">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
          {% csrf_token %}
          {% bootstrap_form form %}
          </div>
          </div>
          </div>
          <input type="submit" class="btn btn-primary btn-sm" value="Submit">
          <input type="hidden" name="next" value="{{next}}">
        </form>
    
      </div>

{% for comment in image.comment.all %}
<div class="row">
  <div class="col-md-1">
    <p style=" font-weight: bold; "><a style="color: black" href="/"> {{comment.user}}</p>
  </div>
  <div class="col-md-4" style="margin-left: -25px">
    <p>{{comment.comment}}</p>
  </div>
</div>
{% endfor %}
</div>
  </div>
<!-- </div>
</div> -->
{% endfor %}
</body>
</html>

 <!--   {% for image in image%} -->

   <div>
  <img src="{{image.image.url}}" class="master-card" style="width:100px;height:100px;border-radius:50%;padding:15px; "><strong style="margin-top: 60px">{{image.user}}</strong>
  <p style="margin-left: 80px; margin-top: 40px ;color: #BDBDBD">{{image.pub_date | timesince}} </p>
</div>
<!--   {% endfor %} -->

</div><br>

{% endblock %}

</div>

